@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Xml Aktarım Sihirbazı</h1>
    <p class="lead"></p>
    <p><a href="/Home/Start" class="btn btn-primary btn-lg">Xml Aktarım Başlat&raquo;</a></p>
</div>

<div class="row">
   
</div>